<!DOCTYPE html>
<html>
  <head>
    <title>ClothingStore</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
  </head>
  <body class="bg-gray-50">
    <%= render 'shared/header' %>
      <%= yield %>
    <%= render 'shared/footer' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

